.portfolio-modal li {
    line-height: 5;
}

.section-heading-text {
    font-family:"微軟正黑體";
    color:#a3d1d1;
}

.sign-up-form--select {
    font-family:"微軟正黑體";
    color:#ff9797;
}

.sign-up-form--select option {
    font-family:inherit;
    color:inherit;
}

.sign-up-form--submit-button {
    padding: 1.25rem 2.5rem;
    font-family: "微軟正黑體", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #FF9797;
    border-color: #FFD2D2;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sign-up-form--submit-button:hover {
    color: #fff;
    background-color: #D1E9E9;
    border-color: #FFD2D2;
}

.sign-up--font{
    font-family:"微軟正黑體";
    color:#00aaaa;
}

.birthday-style{
    font-family:"微軟正黑體";
    color:#ff9797;
}

input{
    caret-color: #00aaaa;
    outline: none;
}

.th-style1{
    font-family: "微軟正黑體";
    color: #a3d1d1;
}

.th-style2{
    font-family: "微軟正黑體";
    color: #ff9797;
}

.th-style3{
    font-family: "微軟正黑體";
    color: #ff9797;
    text-align: right;
}

*{box-sizing: border-box;}

a{
text-decoration: none;
color: #ff9797;
}
.wrap{
    max-width: 960px;
    margin:0px auto;
    height: auto;
}

.search{
    position: relative;
    width: 80%;
    margin: 0px auto;
}

.search-bar{
    width: 100%;
    height: 32px;
    font-size: 20px;
    border: 3px solid #ff9797;
    background-color: #fff;
}

.search-btn{
    width: 36px;
    height: 32px;
    background-color: #fff;
    color:#fff;
    outline:none;
    border: 3px solid #ff9797;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
